<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
	<li>
      <% user.online? ? icon = 'Status-user-online-icon.png' : icon = 'Status-user-busy-icon.png' %>
      <%= image_tag icon %>
	  <%= link_to user.name.capitalize, user %>
      <%= 'id: ' + user.id.to_s %>

      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_chat' %>
      <% end %>
	</li>
  <% end %>
</ul>

<%= will_paginate %>
