$(document).ready(function(){
    is_current_user_owner = <%= @chat.owner? current_user %>
    chat_refresh_url = "<%= chat_path(@chat) + '/refresh/' %>"
    current_user_name = "<%= current_user.name %>"
    members_names = <%= @chat.members_names.to_s.html_safe %>
    reset_unread_msgs_url = "<%= chat_path(@chat) + '/reset_unread_msgs' %>"
    count_messages = <%= @chat.messages.count %>


    $(".chat").scrollTop($(".chat")[0].scrollHeight);
    $("#message_text").focus()

    function array_include(f_array, s_array)
    {
        return f_array.length > s_array.length && f_array.every(function(element, index) {
            return $.inArray(element, s_array[index])
        });
    }

    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };


    function refresh(){
        if(!$("#ext_tbl_chat").html())
        {
            return;
        }
        $.ajax({
            url: chat_refresh_url + count_messages,
            success: function(result){
                if((new_members = result['refresh_members_names'].diff(members_names)) && new_members.length)
                {
                    for (i = 0; i < new_members.length; i++ ) {
                        $(".chat table").append('<tr class="bot_message"><td></td><td>Member ' + new_members[i] + ' was added to room chat</td><td></td></tr>')
                        members_names.push(new_members[i])
                    }
                }
                if((drop_members = members_names.diff(result['refresh_members_names'])) && drop_members.length)
                {
                    for (i = 0; i < drop_members.length; i++ ) {
                        $(".chat table tbody").append('<tr class="bot_message"><td></td><td>Member ' + drop_members[i] + ' was disconnected from chat room</td><td></td></tr>')
                        members_names.splice(members_names.indexOf(drop_members[i]), 1)
                    }
                }
                $(".members_names").html('Members of chat: ' + result['members_list'])

                if (result == 'disconnected')
                {
                    alert('You are disconnected.\nRedirecting to active chats.')
                    document.location = '<%= chats_path %>'
                }
                else if (result == 'removed')
                {
                    add_allert = ''
                    if (is_current_user_owner)
                    {
                        add_allert = 'Last member of chat has left from the chat room.\n'
                    }
                    alert(add_allert + 'This chat room has been removed.\nRedirecting to active chats.')
                    document.location = '<%= chats_path %>'
                }
                else if(result["html"])
                {
                    $(".chat table tbody").append(result["html"])
                    new_count_messages = result['all_messages_count']
                    $('#num_unread_msgs').text(result['num_unread_msgs'])
                    count_messages += new_count_messages

                    $('.last_message').fadeTo('slow', 1, function()
                    {
                        $(this).css({'background-color': '#eeeeee'});
                    }).delay(300).fadeTo('slow', 1);

                    $('.last_message').css("background-color", "#337ab7");
                    $('tr.last_message').removeAttr('class');
                }
                else
                {
                    // alert("Something goes wrong");
                }

                if($('.chat')[0])
                {
                    $('.chat').scrollTop($('.chat')[0].scrollHeight);
                }
            }});
    }

    setInterval(refresh, 1000)


    $("#new_message").bind("ajax:complete", function(event, xhr, status){
        $("#message_text").val('');
    });

    function reset_unread_msgs(){
        if($('#num_unread_msgs').html())
        {
            $.ajax({
                url: reset_unread_msgs_url,
                success: function(result){
                    if(result)
                    {
                        $('#num_unread_msgs').text("0")
                    }
                    else
                    {
                        alert("Something goes wrong");
                    }
                }});
        }
    }

    $(document).keypress(function(event){
        if ($('#num_unread_msgs') > 0)
        {
            reset_unread_msgs()
            if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey)
            {
                $("#send_message").click()
            }
        }
    });

    $(document).mousemove(function(event){
        if ($('#num_unread_msgs') > 0)
        {
            reset_unread_msgs()
        }
    });

});