<% provide(:title, 'Edit chat: ' + @chat.name) %>
<h1>Edit chat: <%= @chat.name %></h1>
<%= link_to 'Delete chat', chat_path(@chat), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>

<!--<div class="row">-->
  <!--<div class="span6 offset3">-->
    <%= form_for @chat, url: edit_chat_post_path(@chat), method: 'post' do |f| %>
        <%= render 'shared/error_messages', subject: @chat %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <h4>Please, enter ids of members separated by a space.</h4>
        <%= f.label :members %>
        <%= f.text_area :members, rows: 4, class: 'chat_members' %>

        <%= f.submit "Update chat", class: "btn btn-large btn-primary" %>
    <% end %>
  <!--</div>-->
<!--</div>-->