<% provide(:title, 'Active Chats') %>
<h1>Active Chats</h1>
<% unless @access_chats.empty? %>
    <%= will_paginate @access_chats %>

    <%= link_to 'Create new chat', new_chat_path, class: 'new_chat' %>
	<table class="table_chats" valign="center" width="1100px" border="1" rules="rows">
		<tr><td>Chat name</td><td>From</td><td>Last message</td><td>Number of unread messages</td><td></td></tr>
  		<% @access_chats.each do |access_chat| %>
  			<% message = access_chat.chat.messages.last %>
	  		<% tr_link = "<tr class='tr_link' id='#{access_chat.chat_id}'>" %>
	  		<%= tr_link.html_safe %>
	  		 	<%= content_tag :td, access_chat.chat.name, class: 'chat_name' %>
	  		 	<%= content_tag :td, message ? message.user.name_cptlz : '', class: 'author_name'%>
	  		 	<%= content_tag :td, message ? message.short_text : 'No messages yet', class: 'message_text', id: message ? message.id : 0 %>
	  		 	<%= content_tag :td, access_chat.num_unread_msgs, class: 'num_unread_msgs'%>
	  		 	<%= content_tag :td, 'Mark as read', class: 'reset_unread_msgs' %>
	  		 <%= print '</tr>' %>
		<% end %>
	</table>
    <script>
        <%= render partial: 'chats/js_index.js.erb' %>
    </script>

    <%= will_paginate @access_chats %>
<% else %>
    You have not any active chats.<br>
    You can <%= link_to 'create your own chat', new_chat_path %> and invite someone.<br>
    Or ask someone to add you to conversation.
<% end %>


