<% provide(:title, 'Create chat') %>
<h1>Create chat</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @chat, url: new_chat_post_path do |f| %>
      <%= render 'shared/error_messages', subject: @chat %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <h4>Please, enter ids of members separated by a space.</h4>
      <%= f.label :members %>
      <%= f.text_area :members, rows: 4, style: "resize: none" %>

      <%= f.submit "Create chat", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>