<% provide(:title, "Chat #{@chat.name}") %>
<h1 id="chat_name"> <%= "Chat #{@chat.name}" %> </h1>
<h4 class="chat_administrator">
  <%= "Administrator: #{@chat.owner.name_cptlz}" %>
</h4>
<h4 class="members_names">
  <%= 'Members of chat: ' %>
  <%= render 'chats/members_list', members: @members %>
</h4>
<h4> <span id="num_unread_msgs"> <%= @num_unread_msgs %> </span> <%= ' unread messages' %> </h4>

<% @confirm_message_def = "Are you sure you want to disconnect from #{@chat.name} ?" %>

<%= link_to 'Disconnect', self_disconnection_chat_path(@chat), id: 'disconnect' unless @chat.owner? current_user %>
<%= link_to 'Edit chat', edit_chat_path(@chat) if @chat.owner? current_user %>

<div id="ext_tbl_chat">
	<div class="chat">
		<table>
		   <% @chat.messages.order(id: :asc).each do |message| %>
			   <tr>
			   	   <td class="author_name">
			   	    	<%= link_to message.user.name_cptlz, user_path(message.user)%>
			   	   </td>
			   	   <td class="message_text">
			   	    	<%= message.text%>
			   	   </td>
			   	   <td class="msg_dttm">
			   	   		<%= message.created_at.strftime('%d %b %I:%M:%S') %>
			   	   </td>
			   </tr>
		   <% end %>
		</table>
    </div>
	<%= form_for @message, url: chat_path(@chat.id) + '/create_message', remote: true do |f| %>
      <% mobile? ? display = '' : display = 'display_none' %>
          <%= f.text_area :text, placeholder: 'Type message. To send message, use Ctrl + Enter.', rows: 3 %>
          <%= f.submit 'Send message', class: "btn btn-large btn-primary #{display}", id: 'send_message' %>
	<% end %>
</div>
<script>
<%= render partial: 'chats/js_show.js.erb' %>
</script>